{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Transacted</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
        <tr>
          <th scope="row">{{ transaction.stock }}</th>
          <td>{{ transaction.stocks }}</td>
          <td>{{ transaction.cost }}</td>
          <td>{{ transaction.time }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
